NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://rohitvidhate3:rohit7276@hospital-management.iba5fla.mongodb.net/?appName=hospital-management
JWT_SECRET=your-super-secret-jwt-key-change-in-production
GOOGLE_CLIENT_ID=691543271256-hshsojcc2k1epiu2g9v1fsd5kplkein6.apps.googleusercontent.com
SMTP_USER=rohitvidhate3@gmail.com
SMTP_PASS=ayce vpnh cefm iowo
TWILIO_ACCOUNT_SID=AC674563dff52e7e9403573cbda11d096b
TWILIO_AUTH_TOKEN=a367789160d6e1c30af2b9d120460a6d
TWILIO_PHONE_NUMBER=8624921303
